<!-- Navbar -->
{% load static %}
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>

          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 Nuevos Pedidos
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="d-flex align-items-center">
    <a href="index3.html" class="brand-link d-flex w-100">
      <img src="{% static 'images/icons/logo_grey.png' %}" class="brand-image img-fluid w-50 mx-auto " >
    </a>
    </div>



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        {% if request.resolver_match.url_name == 'adminProduct' or request.resolver_match.url_name == 'createProduct' %}
          <li class="nav-item menu-is-opening menu-open">
                  <a href="#" class="nav-link active">
        {% else %}
            <li class="nav-item">
                  <a href="#" class="nav-link ">
                {% endif %}
              <i class="nav-icon fas fa-shopping-bag"></i>
              <p>
                Productos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                  {% if request.resolver_match.url_name == 'adminProduct'%}
                <a href="{% url 'adminProduct' %}" class="nav-link active">
                      {% else %}
                      <a href="{% url 'adminProduct' %}" class="nav-link">
                    {% endif %}
                  <i class="far fa-circle nav-icon"></i>
                  <p>Administrar productos</p>
                </a>
              </li>
              <li class="nav-item">
                  {% if request.resolver_match.url_name == 'createProduct'%}
                <a href="{% url 'createProduct' %}" class="nav-link active">
                    {% else %}
                      <a href="{% url 'createProduct' %}" class="nav-link">
                    {% endif %}
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear producto</p>
                </a>
              </li>
            </ul>
          </li>
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tags"></i>
              <p>
                Categorías
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'adminTopic' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Administrar Categorías</p>
                </a>
              </li>
            </ul>
          </li>
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-bullhorn"></i>
              <p>
                Banners
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'adminBanner' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Administrar Banners</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'createBanner' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear banner</p>
                </a>
              </li>
            </ul>
          </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-archive"></i>
              <p>
                Ordenes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'adminOrder' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Administrar Ordenes</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'updateShippingCost' %}" class="nav-link">
              <i class="nav-icon fas fa-shipping-fast"></i>
              <p>
                Actualizar Costo de Envio
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>
                Informe de ventas
              </p>
            </a>
          </li>
        </ul>


      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>