{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2 style="text-shadow: 7px 7px 5px #877366;"></style>  Sobre nosotros </h2>
                        <span>Nuestro propósito &amp; equipo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static '../media/about-left-image.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <span>Somos una marca diseñada desde la reconexión con la naturaleza para un delicado cuidado de tu belleza mediante cosméticos naturales, accesorios y perfumería.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Cuidarte naturalmente desde una conección con nustras raices para una belleza auténtica desde un bienestar sostenible.</p>
                        </div>
                        <p>Nos enorgullece ofrecer una composición única para cada producto, brindando los mejores resultados para tu cuidado corporal. Descubre la belleza de cuidarte naturalmente con Edjo.</p>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100075743242228" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/edjo_productoscapilares/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Nuestro equipo</h2>
                        <span>Quienes hicieron posible éste proyecto y comparten la misma visión.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://www.facebook.com/katali2018" target="_blank"><i class="fa fa-facebook" style="color: #5f7e68;"></i></a></li>
                                        <li><a href="https://www.instagram.com/genyp_bussines/" target="_blank"><i class="fa fa-instagram" style="color: #5f7e68;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static '../media/geny.jpg' %}" class="img-fluid" style="max-height: 350px;">
                        </div>
                        <div class="down-content">
                            <h4>Geny Pérez Galindo</h4>
                            <span>Emprendedora</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://www.instagram.com/jennianymia/" target="_blank"><i class="fa fa-instagram" style="color: #5f7e68;"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/jennifer-mejia-diseño-de-modas-patronista-content-marketer/" target="_blank"><i class="fa fa-linkedin" style="color: #5f7e68;"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance" style="color: #5f7e68;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static '../media/jennifer.jpg' %}" class="img-fluid" style="max-height: 350px;">
                        </div>
                        <div class="down-content">
                            <h4>Jennifer Mejía</h4>
                            <span>Diseñadora</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://www.instagram.com/danielperezgal/" target="_blank"><i class="fa fa-instagram" style="color: #5f7e68;"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/danielfelipeperezgalindo/" target="_blank"><i class="fa fa-linkedin" style="color: #5f7e68;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static '../media/daniel.jpg' %}" class="img-fluid" style="max-height: 350px;">
                        </div>
                        <div class="down-content">
                            <h4>Daniel Pérez Galindo</h4>
                            <span>Desarrollador</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->

    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Tambien te ofrecemos</h2>
                        <span>Conoce Más sobre Nuestros Servicios Exclusivos</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Tratamientos capilares</h4>
                        <p>Embárcate en un viaje hacia un cabello saludable. Nuestras expertas te guiarán personalmente, identificando los tratamientos ideales para tu tipo de cabello y necesidades específicas.</p>
                        <img src="{% static '../media/service-01.jpg' %}" alt="Tratamientos capilares">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Peluquería</h4>
                        <p>Descubre el arte del estilismo en nuestra sede. Como estilistas estaremos listos para crear un look que resalte tu belleza única. ¡Transforma tu estilo hoy mismo!</p>
                        <img src="{% static '../media/service-02.jpg' %}" alt="Peluquería">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4> Skincare y manicure </h4>
                        <p>Sumérgete en el lujo del cuidado facial y manicure personalizado. Nuestra asesoría integral te brindará el conocimiento necesario para resaltar la belleza natural de tu piel y manos. ¡Descubre una piel radiante y uñas impecables con nosotros!</p>
                        <img src="{% static '../media/service-03.jpg' %}" alt="Skincare y manicure">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-4">
                            <ul>
                                <li>Visitanos en:<br><span>Cra 11 #18-68 Honda-Tolima</span></li>
                                <li>Celular:<br><span>+57 3207015028</span></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul>
                                <li>Horario de trabajo:<br><span>07:00 AM - 6:00 PM De Lunes a Sabado</span></li>
                                <li>Email:<br><span>catali1982@hotmail.com</span></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul>
                                <li>Siguenos en:<br><span><a href="https://www.facebook.com/profile.php?id=100075743242228" target="_blank">Facebook</a>, <a href="https://www.instagram.com/edjo_productoscapilares/" target="_blank">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
{% endblock %}