{% extends 'store/main.html' %}
{% load humanize %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Cómo Utilizamos las Cookies para Mejorar tu Experiencia en Edjo</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="right-content">
                        <h4>¿Qué son las cookies?</h4>
                        <div class="quote">
                            <p>Las cookies son pequeños archivos de datos que los sitios web y las aplicaciones almacenan en tu dispositivo cuando interactúas con ellos. Estos archivos contienen información que se utiliza para rastrear y almacenar detalles sobre tus interacciones en línea. Las cookies son una parte fundamental de la experiencia de navegación en la web moderna y cumplen diversas funciones esenciales para mejorar la usabilidad de los sitios web y proporcionar servicios personalizados a los usuarios.</p>
                            <p>Cuando visitas un sitio web, este puede enviar una cookie a tu navegador web (como Chrome, Firefox o Safari). Esta cookie se almacena en tu dispositivo (como una computadora, un teléfono inteligente o una tableta) y se asocia con ese sitio web en particular. A partir de ese momento, cada vez que vuelvas a ese sitio web, tu navegador enviará la cookie de vuelta al servidor del sitio web. Esto permite que el sitio web recuerde información específica sobre tu visita anterior, como tus preferencias de configuración, tu historial de navegación y, en algunos casos, datos de inicio de sesión.</p>
                        </div>
                    </div>
                    <div class="right-content pt-5 pb-5">
                        <h4>¿Cómo utilizamos las cookies?</h4>
                        <div class="quote">
                            <p class="pb-1"> Utilizamos cookies para diversas finalidades, que incluyen:</p>
                            <p><strong>1. Sesiones de Usuario:</strong> Las cookies también se utilizan para administrar tus sesiones de usuario. Cuando inicias sesión en tu cuenta, una cookie se crea para mantener tu sesión activa de manera segura. Esto significa que no tendrás que volver a iniciar sesión cada vez que accedas a una página diferente en nuestro sitio.</p>

                            <p><strong>2. Analítica Web:</strong> Utilizamos cookies de analítica web para comprender cómo los visitantes interactúan con nuestro sitio. Esto nos permite recopilar información sobre las páginas que visitas, el tiempo que pasas en cada página y las acciones que realizas. Estos datos se utilizan para mejorar continuamente nuestro sitio y ofrecerte un contenido y una navegación más relevantes.</p>

                            <p><strong>3. Publicidad Personalizada:</strong> Las cookies de publicidad nos ayudan a mostrarte anuncios que son relevantes para ti en función de tu historial de navegación y compras anteriores. Esto no solo te brinda ofertas y productos que puedan interesarte, sino que también ayuda a mantener nuestro sitio web gratuito para todos los usuarios.</p>

                            <p><strong>4. Seguridad:</strong> Las cookies son esenciales para garantizar la seguridad de tu cuenta y de todas las transacciones en línea que realices en nuestro sitio. Ayudan a prevenir actividades fraudulentas y a proteger tus datos personales.</p>

                            <p><strong>5. Almacenamiento de Información:</strong> Cuando visitas nuestro sitio, las cookies permiten que guardemos cierta información en tu dispositivo. Esta información puede incluir tus preferencias de idioma, elementos en tu carrito de compras y otros datos relevantes que hacen que tu experiencia sea más personalizada.</p>
                        </div>
                    </div>
                    <div class="right-content">
                        <h4>¿Cómo puedes gestionar las cookies?</h4>
                        <div class="quote">
                            <p>Si decides cancelar las cookies en cualquier momento, puedes hacerlo desde la configuración de tu navegador. Sin embargo, ten en cuenta que si desactivas las cookies, es posible que no puedas utilizar todas las características de la tienda, incluyendo la capacidad para registrarte e identificarte como usuario.</p>
                            <p>Para obtener más detalles sobre nuestras prácticas de privacidad y cómo utilizamos tus datos personales, consulta nuestra <a href="{% url 'store:usePolicy' %}">Política de Privacidad</a>.</p>
                            <p>Gracias por elegir Edjo para tus compras en línea. ¡Esperamos que tengas una experiencia de compra increíble!</p>
                            <p>Si tienes alguna pregunta o inquietud sobre nuestra política de cookies o cualquier otro aspecto de nuestro sitio web, no dudes en ponerte en contacto con nuestro equipo de atención al cliente en Example@example.com.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}