{% extends 'main.html' %}

{% block content %}

    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h2 class="fa fa-check text-primary m-0 mr-3"></h2>
                    <h5 class="font-weight-semi-bold m-0">Productos de Calidad</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h2 class="fa fa-shipping-fast text-primary m-0 mr-2"></h2>
                    <h5 class="font-weight-semi-bold m-0">Envío Nacional</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h2 class="fas fa-seedling text-primary m-0 mr-3"></h2>
                    <h5 class="font-weight-semi-bold m-0">Productos Naturales</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h2 class="fa fa-phone-volume text-primary m-0 mr-3"></h2>
                    <h5 class="font-weight-semi-bold m-0">Asistencía 24/7</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
        {% include 'store/topicInfo.html' %}
    <!-- Categories End -->

    
    <!-- Offer Start -->
    
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            {% if discount_10 > 3 %}
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                        <img src="/images/discount-10%.png" alt="">
                        <div class="position-relative" style="z-index: 1;">
                            <h5 class="text-uppercase text-primary mb-3">Desde 10% de descuento</h5>
                            <h1 class="mb-4 font-weight-semi-bold">Productos Capilares</h1>
                            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Compra ahora</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {% if discount_20 >= 2 %}
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                        <img src="/images/discount-20%.png" alt="">
                        <div class="position-relative" style="z-index: 1;">
                            <h5 class="text-uppercase text-primary mb-3">Desde 20% de descuento</h5>
                            <h1 class="mb-4 font-weight-semi-bold">Productos Seleccionados</h1>
                            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Compra Ahora</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Offer End -->


    <!-- Products Start -->
    {% include 'store/productInfo.html' %}
    <!-- Products End -->


{% endblock %}