{% extends 'store/main.html' %}
{% load static %}

{% block content %}
        {% if page == 'login' %}
            <!-- ***** Main Banner Area Start ***** -->
        <div class="page-heading" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content">
                            <h2>Iniciar Sesion</h2>
                            <span>Ingresa y descubre nuestros productos con envío a todo Colombia</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
          <div class="row d-lg-flex d-md-flex justify-content-center align-items-center d-flex-row  text-center h-100">
            <div class="col-12 col-lg-4 col-md-6">
              <div class="card shadow">
                <div class="card-body mx-2 mx-lg-5 mx-md-3">
                <!--
                  <p>
                    <a href="" class="btn btn-block btn-primary btn-gmail">
                      <i class="fa fa-google" aria-hidden="true"></i>&nbsp;&nbsp;Ingresa con Google</a>
                  </p>
                  <p class="text-muted font-weight-bold pt-2 pb-2">
                    <span class="">O</span>
                  </p>
                  -->
                <h5>Bienvenido a Edjo</h5><br>
                  <form method="POST">
                      {% csrf_token %}
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                      </div>
                      <input name="email" class="form-control" placeholder="Correo electronico" type="email">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" name="password" placeholder="Contraseña" type="password">
                    </div>
                      {% if messages %}
                      <div class="error-messages">
                        {% for message in messages %}
                          <p style="color:red">*{{ message }}<br></p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Ingresar </button>
                    </div>
                    <p class="text-center">¿Aun no te has registrado?
                      <a href="{% url 'store:register' %}">Registrate</a>
                    </p>
                    <p class="text-center">¿Olvidaste tu contraseña?
                      <a href="{% url 'store:resetPassword' %}">Recuperala</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
              <div class="col-6 h-100 login-description text-center">
                    <!--
                      <img src="{% static "../media/login-page.jpg" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow" style="max-width: 600px; max-height: 333px;">
                      -->
                    <div class="right-content pr-5 pl-5 mt-4">
                        <h5>¡Bienvenido a Edjo, tu destino para el cuidado capilar natural en Colombia!</h5><br>
                        <p class="text-left">Nos alegra que nos hayas elegido para ser parte de tu rutina de cuidado personal. En Edjo, somos un apasionado emprendimiento colombiano dedicado a ofrecerte lo mejor en productos capilares. Desde Shampoos hasta Acondicionadores, Cremas desenredantes e hidratantes, cada producto que ofrecemos es cuidadosamente elaborado con ingredientes naturales y artesanales de la más alta calidad. </p>
                        <br>
                        <p class="text-left">En Edjo, creemos en el poder de la naturaleza para nutrir y revitalizar tu cabello. Nos esforzamos por brindarte soluciones capilares que no solo son efectivas sino también respetuosas con el medio ambiente. Cada producto que encuentras aquí refleja nuestro compromiso con la excelencia y el bienestar capilar.</p>
                        <br>
                        <p class="text-left">Explora nuestra tienda y descubre una gama única de productos que transformarán tu experiencia de cuidado capilar. Estamos aquí para ayudarte a resaltar la belleza natural de tu cabello, brindándote opciones que cuidan de ti y de nuestro entorno.</p>

                    </div>
              </div>
          </div>
        </div>

        {% else %}
            <!-- ***** Main Banner Area Start ***** -->
        <div class="page-heading" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content">
                            <h2>Registro</h2>
                            <span>Registrate y Compra los mejores productos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Main Banner Area End ***** -->
        <div class="container-fluid">
          <div class="row d-lg-flex d-md-flex justify-content-center align-items-center d-flex-row  text-center h-100">
            <div class="col-12 col-lg-4 col-md-6">
              <div class="card shadow">
                <div class="card-body mx-5">
                <!--
                  <p>
                    <a href="" class="btn btn-block btn-primary btn-gmail">
                      <i class="fa fa-google" aria-hidden="true"></i>&nbsp;&nbsp;Inicia con Google</a>
                  </p>
                  <p class="text-muted font-weight-bold pt-2 pb-2">
                    <span>O</span>
                  </p>
                  -->
                    <h5>Bienvenido a Edjo</h5><br>
                  <form method="POST">
                  {% csrf_token %}
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                      </div>
                      <input name="name" class="form-control" placeholder="Nombre" type="text">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                      </div>
                      <input name="email" class="form-control" placeholder="Correo" type="email">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" name="password" placeholder="Contraseña" type="password">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" name="confirmPassword" placeholder="Repita su contraseña" type="password">
                    </div>
                    <div class="form-group form-check text-left">
                      <input type="checkbox" class="form-check-input" name="usePolicy">
                      <label class="form-check-label" style="font-size: small">He leido y estoy de acuerdo con los <a href="{% url 'store:usePolicy' %}">Terminos y Condiciones</a> y Autorizo el <a href="{% url 'store:usePolicy' %}">Tratamiento de mis Datos Personales.</a></label>
                    </div>
                    <div class="form-group form-check text-left">
                      <input type="checkbox" class="form-check-input" name="commPolicy">
                      <label class="form-check-label" style="font-size: small">Deseo recibir información de promociones y nuevos productos.</label>
                    </div>
                    {% if messages %}
                      <div class="error-messages text-left">
                        {% for message in messages %}
                          <p style="color:red">*{{ message }}<br></p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta </button>
                    </div>
                    <p class="text-center">¿Ya estas registrado?
                      <a href="{% url 'store:login' %}">Inicia Sesion</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
              <div class="col-6 h-100 login-description ">
                <div class="right-content pr-5 pl-5">
                        <h5>¡Bienvenido a Edjo, tu destino para el cuidado capilar natural en Colombia!</h5><br>
                        <p class="text-left">Nos alegra que nos hayas elegido para ser parte de tu rutina de cuidado personal. En Edjo, somos un apasionado emprendimiento colombiano dedicado a ofrecerte lo mejor en productos capilares. Desde Shampoos hasta Acondicionadores, Cremas desenredantes e hidratantes, cada producto que ofrecemos es cuidadosamente elaborado con ingredientes naturales y artesanales de la más alta calidad. </p>
                        <br>
                        <p class="text-left">En Edjo, creemos en el poder de la naturaleza para nutrir y revitalizar tu cabello. Nos esforzamos por brindarte soluciones capilares que no solo son efectivas sino también respetuosas con el medio ambiente. Cada producto que encuentras aquí refleja nuestro compromiso con la excelencia y el bienestar capilar.</p>
                        <br>
                        <p class="text-left">Explora nuestra tienda y descubre una gama única de productos que transformarán tu experiencia de cuidado capilar. Estamos aquí para ayudarte a resaltar la belleza natural de tu cabello, brindándote opciones que cuidan de ti y de nuestro entorno.</p>

                    </div>
              </div>
          </div>
        </div>
        {% endif %}


{% endblock content %}