{% extends 'store/main.html' %}

{% block content %}
        {% if page == 'login' %}
            <!-- ***** Main Banner Area Start ***** -->
        <div class="page-heading" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content">
                            <h2>Iniciar Sesion</h2>
                            <span>Ingresa y pide nuestros productos a todo <Colombia></Colombia></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
          <div class="row d-lg-flex d-md-flex justify-content-center align-items-center d-flex-row  text-center h-100">
            <div class="col-12 col-lg-4 col-md-6">
              <div class="card shadow">
                <div class="card-body mx-2 mx-lg-5 mx-md-3">
                  <p>
                    <a href="" class="btn btn-block btn-primary btn-gmail">
                      <i class="fa fa-google" aria-hidden="true"></i>&nbsp;&nbsp;Ingresa con Google</a>
                  </p>
                  <p class="text-muted font-weight-bold pt-2 pb-2">
                    <span class="">O</span>
                  </p>
                  <form method="POST">
                      {% csrf_token %}
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                      </div>
                      <input name="email" class="form-control" placeholder="Correo electronico" type="email">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" name="password" placeholder="Contraseña" type="password">
                    </div>
                      {% if messages %}
                      <div class="error-messages">
                        {% for message in messages %}
                          <p style="color:red">*{{ message }}<br></p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Ingresar </button>
                    </div>
                    <p class="text-center">¿Aun no te has registrado?
                      <a href="{% url 'store:register' %}">Registrate</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
              <div class="col-6 h-100 login-description ">
                sdasd
              </div>
          </div>
        </div>

        {% else %}
            <!-- ***** Main Banner Area Start ***** -->
        <div class="page-heading" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content">
                            <h2>Registro</h2>
                            <span>Registrate y Compra los mejores productos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Main Banner Area End ***** -->
        <div class="container-fluid">
          <div class="row d-lg-flex d-md-flex justify-content-center align-items-center d-flex-row  text-center h-100">
            <div class="col-12 col-lg-4 col-md-6">
              <div class="card shadow">
                <div class="card-body mx-5">
                  <p>
                    <a href="" class="btn btn-block btn-primary btn-gmail">
                      <i class="fa fa-google" aria-hidden="true"></i>&nbsp;&nbsp;Inicia con Google</a>
                  </p>
                  <p class="text-muted font-weight-bold pt-2 pb-2">
                    <span>O</span>
                  </p>
                  <form method="POST">
                  {% csrf_token %}
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                      </div>
                      <input name="name" class="form-control" placeholder="Nombre" type="text">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                      </div>
                      <input name="email" class="form-control" placeholder="Correo" type="email">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" name="password" placeholder="Contraseña" type="password">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" name="confirmPassword" placeholder="Repita su contraseña" type="password">
                    </div>
                    {% if messages %}
                      <div class="error-messages">
                        {% for message in messages %}
                          <p style="color:red">*{{ message }}<br></p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta </button>
                    </div>
                    <p class="text-center">¿Ya estas registrado?
                      <a href="{% url 'store:login' %}">Inicia Sesion</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
              <div class="col-6 h-100 login-description ">
                sdasd
              </div>
          </div>
        </div>
        {% endif %}


{% endblock content %}