{% load humanize %}

<!-- ***** Product Area Starts ***** -->
{% for topic in topics %}
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>{{ topic.name }}</h2>
                        <span>{{ topic.bio }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for product in products %}
                            {% if product.topic == topic %}
                            <div class="item">
                                <div class="thumb product-thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{% url 'store:shopDetail' product.id %}"><i class="fa fa-eye"></i></a></li>
                                            {% if product.stock > 0 %}
                                            <li>
                                            {% if user.is_authenticated %}
                                                <a type="button" onclick="addCart( {{ product.id }} );"><i class="fa fa-shopping-cart"></i></a>
                                            {% else %}
                                                <a type="button" href="{% url 'store:login' %}"><i class="fa fa-shopping-cart"></i></a>
                                            {% endif %}
                                            </li>
                                             {% else %}
                                             <li><a type="button" onclick="addCartNoStock('{{ product.name }}');"><i class="fa fa-shopping-cart"></i></a></li>
                                             {% endif %}
                                        </ul>
                                    </div>
                                {% if product.stock > 0 %}
                                    <img src="{{product.image.url}}" alt="" class="img-fluid">
                                {% else %}
                                     <img src="{{product.image.url}}" alt="" class="img-fluid grayscaleimg">
                                {% endif %}
                                </div>
                                <div class="down-content">
                                {% if product.stock == 0 %}
                                    <div class="row">
                                          <div class="col-6 d-flex">

                                            <h4>{{ product.name }}</h4>
                                          </div>
                                            <div class="col-6">
                                              <div class="bg-pink text-danger d-flex justify-content-end">
                                                  Sin unidades
                                              </div>
                                            </div>
                                    </div>
                                {% elif product.stock <= 10  %}
                                    <div class="row">
                                          <div class="col-6 d-flex">

                                            <h4>{{ product.name }}</h4>
                                          </div>
                                            <div class="col-6">
                                              <div class="bg-pink text-danger d-flex justify-content-end">
                                                  {{product.stock}} Disponibles
                                              </div>
                                            </div>
                                    </div>
                                {% else %}
                                    <h4>{{ product.name }}</h4>
                                {% endif %}

                                    {% if product.discount > 0 %}
                                        <div class="row">
                                          <div class="col-6 d-flex">
                                            <span style="text-decoration: line-through;">${{product.price|intcomma}}</span>
                                            <span style="color: palevioletred;">&nbsp;&nbsp;&nbsp;${{product.priceDiscount|intcomma}}</span>
                                          </div>
                                            <div class="col-6">
                                              <div class="bg-pink text-danger d-flex justify-content-end">
                                                <div class="pl-2 rounded-right rounded-left" id="discount-box">
                                                   &nbsp;{{product.discount}}% OFF&nbsp;&nbsp;
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <span>${{ product.price|intcomma }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}
    <!-- ***** Product Area Ends ***** -->