{% extends 'store/main.html' %}

{% block content %}
            <!-- ***** Main Banner Area Start ***** -->
        <div class="page-heading" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content">
                            <h2>¿Olvidaste tu contraseña?</h2>
                            <span>Genera una nueva contraseña aquí</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
          <div class="row d-lg-flex d-md-flex justify-content-center align-items-center d-flex-row  text-center h-100">
            <div class="col-12 col-lg-4 col-md-6">
              <div class="card shadow">
                <div class="card-body mx-2 mx-lg-5 mx-md-3">
                  <form method="POST">
                      {% csrf_token %}
                      <div class="form-group d-flex align-items-center">
                        <label for="email" class="col-11 text-left mr-2">Ingresa tu correo electrónico para generar una nueva contraseña:</label>
                        <i class="fa fa-info-circle fa-2x text-secondary col-1" id="info-icon-reset-password"></i>
                      </div>
                      <br>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                      </div>
                      <input name="email" class="form-control" placeholder="Correo electronico" type="email">
                    </div>
                      {% if messages %}
                      <div class="error-messages">
                        {% for message in messages %}
                          <p style="color:red">*{{ message }}<br></p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Generar contraseña contraseña </button>
                    </div>
                    <p class="text-center">¿Aun no te has registrado?
                      <a href="{% url 'store:register' %}">Registrate</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
              <div class="col-6 h-100 login-description pr-5 pl-5 pt-3">
                <h5>En Edjo, tu seguridad es nuestra prioridad</h5> <br>

                <p class="text-left">
                    En Edjo, nos tomamos muy en serio la protección de tu información personal. Queremos asegurarnos de que tengas total tranquilidad al utilizar nuestros servicios. A continuación, te proporcionamos algunas recomendaciones para crear una contraseña segura y garantizar la seguridad de tu cuenta:
                </p><br>

                <ul class="text-left" style="list-style-type: none; padding: 0;">
                    <li> <span style="font-size: 14px;"> <strong>Longitud:</strong> Utiliza contraseñas con al menos 8 caracteres. Cuanto más larga sea, mejor.</span></li>
                    <li> <span style="font-size: 14px;"> <strong>Complejidad:</strong> Mezcla letras mayúsculas y minúsculas, números y caracteres especiales para aumentar la complejidad de tu contraseña.</span></li>
                    <li> <span style="font-size: 14px;"> <strong>Evita información personal:</strong> No utilices información personal fácilmente disponible, como tu nombre, fecha de nacimiento o palabras comunes.</span></li>
                    <li> <span style="font-size: 14px;"> <strong>Actualización regular:</strong> Cambia tu contraseña periódicamente para mantenerla segura. Evita utilizar la misma contraseña en múltiples servicios.</span></li>
                    <li> <span style="font-size: 14px;"> <strong>No compartas tu contraseña:</strong> Nunca compartas tu contraseña con otras personas y evita escribirla en lugares fácilmente accesibles.</span></li>
                </ul>
                  <br>
                <p class="text-left">
                    Recuerda que estamos aquí para garantizar la seguridad de tu experiencia en Edjo. Si alguna vez tienes alguna pregunta o inquietud sobre la seguridad de tu cuenta, no dudes en ponerte en contacto con nuestro equipo de soporte.
                </p>

                <br>

                <p class="text-left">
                    ¡Gracias por confiar en Edjo!
                </p>
              </div>
          </div>
        </div>

{% endblock content %}