{% extends 'store/main.html' %}
{% load humanize %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Descubre lo que lo Hace Excepcional</h2>
                        <span>Conoce por qué destaca nuestro producto</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <div class="left-images">
                    {% if product.imageDetail %}
                        <img src="{{product.imageDetail.url }}" alt="{{ product.name }}">
                    {% endif %}
                    {% if product.imageDetailSecond %}
                        <img src="{{product.imageDetailSecond.url}}" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content discount">
                    {% if product.stock == 0 %}
                                    <div class="row">
                                          <div class="col-6 d-flex">

                                            <h4>{{ product.name }}</h4>
                                          </div>
                                            <div class="col-6">
                                              <div class="bg-pink text-danger d-flex justify-content-end">
                                                  Sin unidades
                                              </div>
                                            </div>
                                    </div>
                                {% elif product.stock <= 10  %}
                                    <div class="row">
                                          <div class="col-6 d-flex">

                                            <h4>{{ product.name }}</h4>
                                          </div>
                                            <div class="col-6">
                                              <div class="bg-pink text-danger d-flex justify-content-end">
                                                  {{product.stock}} Disponibles
                                              </div>
                                            </div>
                                    </div>
                                {% else %}
                                    <h4>{{ product.name }}</h4>
                                {% endif %}
                    {% if product.discount > 0 %}
                        <div class="row justify-content-center align-items-center">
                          <div class="col-6 mx-auto">
                            <span class="text-lg first-price-discount" style="text-decoration: line-through;">${{product.price|intcomma}}</span>
                            <span class="text-lg price" id="price-detail" style="color: palevioletred;">${{product.priceDiscount|intcomma}}</span>
                          </div>
                          <div class="col-6 mx-auto">
                              <div class="bg-pink text-danger d-flex justify-content-end">
                                <div class="pl-2 rounded-right rounded-left" id="discount-box">
                                   &nbsp;{{product.discount}}% OFF&nbsp;&nbsp;
                                </div>
                              </div>
                          </div>
                        </div>
                    {% else %}
                        <span class="price" id="price-detail">${{ product.price|intcomma }}</span>
                    {% endif %}
                    <span class="product-bio">{{ product.bio }}</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>{{ product.message }}</p>
                    </div>
                        <div class="quantity-content">
                            <div class="left-content">
                                <h6>Cantidad</h6>
                            </div>
                            <div class="right-content">
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" readonly><input type="button" value="+" class="plus">
                                </div>
                            </div>
                        </div>
                        <div class="total">


                            {% if product.discount > 0 %}
                                <h4>Total: &nbsp$</h4> <h4 id="total-price-detail">{{ product.priceDiscount|intcomma }}</h4>
                            {% else %}
                                <h4>Total: &nbsp$</h4> <h4 id="total-price-detail">{{ product.price|intcomma }}</h4>
                            {% endif %}

                            {% if user.is_authenticated %}
                                <div class="main-border-button"><a id="add-to-cart-button" onclick="addProductDetail('{{ product.id }}','{{ product.stock }}')">Agregar al carrito</a></div>
                            {% else %}
                                <div class="main-border-button"><a id="add-to-cart-button" href="{% url 'store:login' %}">Add To Cart</a></div>
                            {% endif %}


                            <h4 id="product-quantity-detail">1</h4>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->
{% endblock %}