{% extends 'main.html' %}

{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Categorías</h5>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="{% url 'store:store' %}?q=">
                            <label class="" name="q" for="price-all">Todos</label>
                        </a>
                    </div>
                    {% for topic in topics %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="{% url 'store:store' %}?q={{topic.name}}">
                                <label class="" for="price-all">{{topic.name}}</label>
                                <span class="badge border font-weight-normal">{{topic.product_set.count}}</span>
                            </a>
                            
                        </div>
                    {% endfor %}
            </div>
            
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="{% url 'store:store' %}" method="GET">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" placeholder="Search by name">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                        Ordenar por
                                    </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="{% url 'store:store' %}?order_by=-priceDiscount&q={{ query }}">Mayor Precio</a>
                                <a class="dropdown-item" href="{% url 'store:store' %}?order_by=priceDiscount&q={{ query }}">Menor Precio</a>
                                <a class="dropdown-item" href="{% url 'store:store' %}?order_by=name&q={{ query }}">Nombre A-Z</a>
                                <a class="dropdown-item" href="{% url 'store:store' %}?order_by=-name&q={{ query }}">Nombre Z-A</a>
                                <a class="dropdown-item" href="{% url 'store:store' %}?order_by=discount&q={{ query }}">Mayor Descuento</a>
                                <a class="dropdown-item" href="{% url 'store:store' %}?order_by=-discount&q={{ query }}">Menor Descuento</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!--products-->
                {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="{{product.image.url}}" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{product.name}}</h6>

                        {% if product.discount > 0 %}
                            <div class="d-flex justify-content-center">
                                <h6>${{product.priceDiscount}}</h6><h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                            </div>                  
                        {% else %}
                            <div class="d-flex justify-content-center">
                                <h6>${{product.price}}</h6><h6 class="text-muted ml-2"></h6>
                            </div>
                        {% endif %}

                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="{% url 'store:shopDetail' product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>

                                <button type="button" onclick="addCart( {{ product.id }} );" class="btn btn-sm text-dark p-0">
                                    <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                                </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <div class="col-12 pb-1">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&order_by={{ order_by }}&products={{ products }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                                </a>
                            {% endif %}   
                            </li>
                            <li class="page-item active"><a class="page-link current-page" href="#">{{ page_obj.number }}</a></li>
                            <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&order_by={{ order_by }}&products={{ products }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>

{% endblock %}