{% extends 'store/main.html' %}
{% load humanize %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Conoce Acerca de Nuestros Terminos y Condiciones y Politicas de Privacidad </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="right-content">
                        <h1>Términos y Condiciones y Política de Privacidad</h1> <br>
                        <div class="quote">
                            <p>Última actualización: <strong>23 de Septiembre de 2023</strong></p>
                        </div>
                        <br>
                        <h2>Definiciones Claves</h2>
                        <div class="quote">
                            <p><strong>1. Datos Personales: </strong> Cualquier información que identifique o pueda utilizarse para identificar a un Usuario, incluyendo, pero sin limitarse a: nombre, dirección, número de teléfono, dirección de correo electrónico, información de pago y cualquier otro dato proporcionado por el Usuario.</p>

                            <p><strong>2. Tratamiento de Datos:</strong> Cualquier operación o conjunto de operaciones realizadas sobre los Datos Personales de un Usuario, incluyendo, pero sin limitarse a: recopilación, registro, organización, almacenamiento, consulta, uso, divulgación, eliminación y destrucción.</p>

                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>¿Quiénes somos?</h5>
                        <div class="quote">
                            <p>El sitio web que usted está visitando es propiedad de Edjo. Su dirección de notificaciones es: Cra 30  # 18-68 del municipio de Honda-Tolima (Colombia), línea nacional 3144009545, example@example.com</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Derechos de Propiedad intelectual</h5>
                        <div class="quote">
                            <p>La información, documentos (imágenes, vídeos, herramientas, gráficos y demás), marcas, nombres, logos y demás material que se encuentra en esta página web, está protegido conforme a lo establecido en la legislación Colombiana e internacional sobre derechos de autor, propiedad intelectual e industrial; por lo tanto, su uso está exclusivamente delimitado a fines personales de revisión, compra y consulta. De tal suerte que, el uso no autorizado que infrinja las leyes Colombianas, a través de su venta, distribución, copia, modificación o adaptación o cualquier otra conducta prohibida, será sancionado de acuerdo a lo establecido por las normas aplicables.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Uso Autorizado</h5>
                        <div class="quote">
                            <p>La página web podrá ser utilizada para revisión, compra y consulta de productos nacionales que Edjo tendrá disponible para la entrega a los usuarios, así como la información de usos y características de los productos y servicios ofrecidos, que están diseñados únicamente con fines informativos del usuario.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Usos prohibidos</h5>
                        <div class="quote">
                            <p>La información publicada en nuestra página web no podrá ser objeto de comercialización, distribución, copia o modificación.</p>
                            <p>No está autorizado el acceso a cuentas o información confidencial de los usuarios, así como la violación de la red y/o servidores o cualquier otro acto que atente contra la seguridad de las transacciones y de la página web.</p>
                            <p>La información que el usuario registre debe ser veraz y completa; se prohíbe todo acto de suplantación de identidad y/o información incorrecta que no corresponda a la persona natural o jurídica que hace uso de la página web.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Información de los usuarios</h5>
                        <div class="quote">
                            <p>Para realizar compras será necesario el registro por parte de los usuarios en la página web, para tal efecto se requiere de información personal y confidencial. Esta información será de uso exclusivo de Edjo y no será revelada a terceros, salvo la información que requiera la empresa de envios para entregar su compra.</p>
                            <p>Buscando la seguridad en las transacciones, queda expresamente prohibido a los usuarios el compartir con terceros su contraseña o el password; pues dicha información es de uso exclusivo del usuario y no se podrá utilizar para fines no autorizados.</p>
                            <p>Los datos referidos en estos términos y condiciones tendrán como finalidad validar las órdenes de compra, mejorar la labor de información y comercialización de los productos y servicios prestados por las empresas. Solo podrán ser entregados a las empresas filiales o relacionadas con Edjo, en ningún caso serán traspasados a terceros. Dicha entrega será revocable por el usuario.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Registro y Contraseña</h5>
                        <div class="quote">
                            <p>Será requisito necesario para la adquisición de productos y servicios ofrecidos en este sitio, la aceptación de las presentes condiciones y el registro por parte del usuario, con definición de una clave de acceso. Para tal efecto, se entenderán conocidos y aceptados estos Términos y Condiciones por el hecho de su aceptación mediante su expresión de voluntad a través de un "click" en el recuadro respectivo.</p>
                            <p>El registro de cada usuario se verificará completando y suscribiendo el formulario que se encuentra en el sitio y su posterior envío, el cual se realiza automáticamente pulsando "click" en el elemento respectivo. Una vez registrado el usuario dispondrá de un nombre y contraseña o clave definitiva que le permitirá el acceso personalizado, confidencial y seguro Edjo.shop. Así mismo tendrá la posibilidad bajo su exclusiva responsabilidad, de cambiar la clave de acceso, para lo cual deberá sujetarse al procedimiento establecido en el sitio respectivo.</p>
                            <p>El usuario es totalmente responsable por el mantenimiento de la confidencialidad de su clave secreta registrada en este sitio web, por medio de la cual podrá efectuar compras, solicitar servicios y obtener información. Dicha clave es de uso personal y su entrega a terceros no involucra responsabilidad de Edjo, ni de las empresas relacionadas en caso de indebida utilización.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Disposiciones Generales Y Contractuales</h5>
                        <div class="quote">
                            <p>Procuramos y ponemos nuestro mejor esfuerzo en que el ingreso a esta página sea seguro y su información personal se encuentra resguardada; en todo caso, no podemos hacernos responsables por virus, demoras en la operacióno transmisión, errores tecnológicos, manipulación por terceros no autorizados, cualquier evento de invasión o manipulación tecnológica o algún otro error en el funcionamiento de la página web. En consecuencia, toda transacción está sujeta a verificación posterior por parte de nuestra empresa y confirmación por parte del usuario, y la misma se sujeta a condición resolutoria cuando se presente alguna de las situaciones antes mencionadas.</p>
                            <p>Recuerde que únicamente podrá contratar a través de esta página web, aquellas personas que cuenten con plena capacidad legal para hacerlo. En todo caso, únicamente se permitirá a personas mayores de edad, debidamente identificadas con cédula de ciudadanía o cédula de extranjería registrarse y efectuar operaciones de compra a través de esta página.</p>
                            <p>Así mismo, eventualmente www.edjo.shop puede presentar errores involuntarios, sí usted los detecta le agradecemos que los ponga nuestro conocimiento escribiendo al e-mail: example@example.shop o comunicándose al 3144009545.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Perfeccionamiento del contrato</h5>
                        <div class="quote">
                            <p>Las productos y precios incluidos en esta página están dirigidos al público en general como personas indeterminadas y por consiguiente será necesaria siempre una confirmación y aceptación de nuestra parte de su orden de compra y del pago realizado, momento en el cual se expedirá la correspondiente factura y se entenderá perfeccionado el contrato de venta entre el usuario y Edjo. </p>
                            <p>En ese orden de ideas, Edjo e encontrará obligado efectuar la entrega del producto adquirido a través de este sitio web una vez el usuario reciba un correo electrónico donde se confirma que el pago de los productos fue exitoso, se totaliza el valor de la compra con gastos de transporte y se informa la fecha aproximada de entrega.</p>
                            <p>Edjo podrá negarse a aceptar pedidos que deban ser entregados fuera del área de cobertura o del territorio colombiano.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Cargos por envío e impuestos</h5>
                        <div class="quote">
                            <p>El cliente deberá asumir los costos de transporte de los productos adquiridos y el pago de los impuestos a que haya lugar en razón de su compra; en todo caso, el valor del transporte será informado al momento de generar la orden de compra, aclarando que dicho cargo puede variar conforme a la ciudad a donde deba efectuarse el despacho y será informado de manera definitiva en el correo electrónico de aceptación de la orden de compra y notificación de pago exitoso.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Promesa de entrega</h5>
                        <div class="quote">
                            <p>La promesa general de entrega de un producto adquirido a través de esta página web será de siete (7) días, que se comenzarán a contar a partir del día siguiente a la aceptación de la orden de compra.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Periodo de pago</h5>
                        <div class="quote">
                            <p>Al realizar un pedido en Edjo, el usuario acepta que tiene la intención de comprar los productos seleccionados y se compromete a pagar por ellos en un plazo de 48 horas. </p>
                            <p>Las órdenes no pagadas dentro de las 48 horas posteriores a su creación se cancelarán automáticamente.</p>
                            <p>Una vez confirmado el pago Edjo procede a cumplir con su promesa de entrega y no se aceptan devoluciones una vez entrado este proceso.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Compromiso con la Seguridad</h5>
                        <div class="quote">
                            <p>En relación a nuestro Sitio www.edjo.shop, Edjo , hace esta declaración de seguridad y privacidad en orden a demostrar y comunicar su compromiso con una práctica de negocios de alto nivel ético y dotada de los controles internos apropiados. Además hace esta declaración para garantizar el compromiso con la protección de los datos personales de los usuarios del Sitio: </p>
                            <p>Nuestro Sitio está protegido con una amplia variedad de medidas de seguridad, tales como procedimientos de control de cambios, claves y controles de acceso físico. También empleamos otros mecanismos para asegurar que la información y los Datos Personales que usted proporciona no sean extraviados, mal utilizados o modificados inapropiadamente. Esos controles incluyen políticas de confidencialidad y respaldo periódico de bases de datos.</p>
                        </div>
                    </div>
                    <div class="right-content">
                        <h5>Mayor información</h5>
                        <div class="quote">
                            <p>La presente Política rige a partir de su publicación y se entiende vigente durante todo el término de la relación existente entre usted y Edjo. La presente Política se rige por las leyes de la República de Colombia.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h2>Política de Privacidad de Edjo</h2><br>
                        <h5>Recopilación de Datos Personales</h5>
                        <div class="quote">
                            <p>Al utilizar nuestros Servicios, recopilamos los siguientes tipos de Datos Personales:</p>
                            <p><strong>1. Información de Contacto:</strong> Como tu nombre, dirección, número de teléfono, dirección de correo electrónico.</p>

                            <p><strong>2. Información de la Cuenta:</strong> Información que se utiliza para autenticarte y acceder a nuestra plataforma, como tu nombre de usuario y contraseña.</p>

                            <p><strong>3. Información de Compra:</strong> nformación sobre las compras que realizas a través de nuestros Servicios, como los productos que compras, la frecuencia de tus compras, y cualquier información de devolución o cambio.</p>

                        </div>
                        <br>
                        <h5>Uso de Datos Personales</h5>
                        <div class="quote">
                            <p>Utilizamos tus Datos Personales para los siguientes propósitos:</p>
                            <p><strong>1. Proporcionar nuestros Servicios:</strong> Utilizamos tus Datos Personales para proporcionarte nuestros Servicios. Esto incluye procesar tus pedidos, enviar confirmaciones de pedidos, proporcionar atención al cliente y enviar notificaciones relacionadas con tus compras.</p>

                            <p><strong>2. Mejorar nuestros Servicios:</strong> Utilizamos tus Datos Personales para entender cómo utilizas nuestros Servicios y para mejorar la funcionalidad y la calidad de nuestros Servicios.</p>

                        </div>
                        <br>
                        <h5>Compartir y Divulgar Datos Personales</h5>
                        <div class="quote">
                            <p>No compartimos ni divulgamos tus Datos Personales a terceros, excepto en las siguientes circunstancias:</p>
                            <p><strong>1. Proveedores de Servicios:</strong> Compartimos tus Datos Personales con proveedores de servicios que nos ayudan a proporcionar nuestros Servicios. Por ejemplo, compartimos tu información con empresas distribuidoras que nos ayudan a llevar los productos hasta la puerta de tu casa, enviar correos electrónicos y analizar el uso de nuestros Servicios.</p>

                            <p><strong>2. Cumplimiento Legal:</strong> Podemos compartir tus Datos Personales si creemos que es necesario para cumplir con una ley, regulación o requerimiento legal válido.</p>

                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Seguridad de Datos</h5>
                        <div class="quote">
                            <p>En Edjo, nos tomamos muy en serio la seguridad de tus Datos Personales. Implementamos medidas de seguridad técnicas y organizativas para proteger tus Datos Personales contra el acceso, uso, alteración o destrucción no autorizados. Sin embargo, ninguna transmisión por Internet o almacenamiento electrónico es 100% segura, por lo que no podemos garantizar la seguridad absoluta de tus Datos Personales.</p>
                        </div>
                    </div>
                    <br>
                    <div class="right-content">
                        <h5>Cancelación de Datos</h5>
                        <div class="quote">
                            <p>Como usuario de Edjo, tienes el derecho a cancelar tu cuenta en cualquier momento. Si eliges cancelar tu cuenta, eliminaremos todos tus Datos Personales de nuestros sistemas, tal como lo establece la Ley Estatutaria 1581 de 2012 del Habeas Data.</p>
                        </div>
                    </div>

                    <br>
                    <div class="right-content">
                        <h2>Cookies y Tecnologías de Rastreo</h2>
                        <div class="quote">
                            <p>Utilizamos diferentes tipos de cookies para mejorar tu experiencia. Puedes gestionar tus preferencias de cookies desde la configuración de tu navegador. <a href="{% url 'store:cookiePolicy' %}">Conoce más sobre nuestras cookies.</a></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <br>
                        <h2>Leyes Colombianas Aplicables</h2>
                        <div class="quote">
                            <p>Como usuario, tienes derechos protegidos por las siguientes leyes colombianas de protección de datos:</p>
                            <ul>
                                <li><strong>Ley 1581 de 2012:</strong> Esta ley regula el tratamiento de datos personales en Colombia y establece los derechos de los usuarios, incluyendo el derecho de acceso, rectificación, supresión y oposición de tus datos personales.</li>
                                <li><strong>Decreto 1377 de 2013:</strong> Este decreto reglamenta parcialmente la Ley 1581 de 2012 y establece pautas adicionales para la protección de datos personales en el país.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-content">
                        <br>
                        <h2>Cambios en las Políticas y Términos</h2>
                        <div class="quote">
                            <p>Edjo se reserva el derecho de actualizar o modificar estas políticas y términos en cualquier momento. Los cambios entrarán en vigencia a partir de su publicación en el Sitio Web.</p>
                        </div>
                    </div>
                    <div class="right-content">
                        <br>
                        <h2>Contacto</h2>
                        <div class="quote">
                            <p>Si tiene alguna pregunta o inquietud relacionada con nuestras políticas de privacidad o términos y condiciones, no dude en ponerse en contacto con nosotros a través de example@example.com.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}