{% extends 'store/main.html' %}

{% block content %}
{% load humanize %}

<div class="main-profile">
  <div class="container">
    <div class="row d-lg-flex d-md-flex justify-content-center align-items-center d-flex-row text-center h-100">
      <div class="col-10 col-lg-8 col-md-8 pb-4">
        <h5 class="text-left">Mis Compras</h5>
      </div>
      <div class="col-10 col-lg-8 col-md-8 card shadow-sm rounded">
      {% for order in orders %}
        <div class="card-body border-bottom">
            <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between">
                <!-- Columna izquierda: Icono y texto -->
                <div class="d-flex align-items-center mb-3">
                    <div class="mr-3">
                        <i class="fa fa-archive fa-2x fa-gray-color" aria-hidden="true"></i>
                    </div>
                    <div class="text-left col-lg-19">
                        {% if order.status == 'Pendiente de pago' %}
                        <span class="text-danger">{{ order.status }}  (${{ order.total|intcomma }})</span>
                        <br>
                        <span class="text-muted small">Por favor realiza el pago para enviar tus productos</span>
                        {% elif order.status == 'Preparando envio' %}
                         <span class="text-warning">{{ order.status }}</span>
                        <br>
                        <span class="text-muted small">Hemos confirmado el pago y estamos preparando tus productos para despacho.</span>
                        {% elif order.status == 'En camino' %}
                         <span class="text-muted">{{ order.status }}</span>
                        <br>
                        <span class="text-muted small">Distribuidor: {{ order.shippingCompany }}</span>
                        <br>
                        <span class="text-muted small"> Guia: {{ order.shippingGuide }} </span>
                        {% elif order.status == 'Entregado' %}
                            <span class="text-success">{{ order.status }}</span>
                        <br>
                        <span class="text-muted small">Tu pedido ha sido entregado a la dirección:</span>
                        <br>
                        <span class="text-muted small">{{ order.address }}</span>
                        <br>
                        <span class="text-muted small">{{ order.city }}</span>
                        <span class="text-muted small"> - </span>
                        <span class="text-muted small">{{ order.state }}</span>
                        {% elif order.status == 'Cancelado' %}
                        <span class="text-danger">{{ order.status }}</span>
                        <br>
                        <span class="text-muted small">Tu pedido ha sido cancelado.</span>
                        {% endif %}
                    </div>
                </div>

                <!-- Columna derecha: Botones -->
                <div class="d-flex flex-column mb-2 col-lg-4">
                    {% if order.status == 'Pendiente de pago' %}
                    <button class="btn btn-primary mb-2 ">Realizar pago</button>
                    <button class="btn btn-danger" onclick="cancelOrder({{ order.id }})">Cancelar Compra</button>
                    {% elif order.status == 'Cancelado' %}
                    {% else %}
                     <button class="btn btn-primary mb-2 ">Ver compra</button>
                    {% endif %}
                </div>
            </div>
        </div>
                <!--
                <div class="text-left">
                    <span class="text-danger">{{ order.status }}</span>
                    <br>
                    <span class="text-muted small">Inter rapidisimo</span>
                    <span class="text-muted small"> - </span>
                    <span class="text-muted small"> Guia: </span>
                    <br>
                </div>
                <a class="ml-auto" onclick="deleteAddress({{ address.id }});">
                    <i class="fa fa-trash fa-gray-color" aria-hidden="true"></i>
                </a>
            </div>
      </div>-->
      {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}