{% extends 'store/main.html' %}
{% load humanize %}

{% block content %}
    <!-- Cart Start -->

        <!-- ***** Main Banner Area Start ***** -->
        <div class="page-heading" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content">
                            <h2>Carrito de compra</h2>
                            <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Main Banner Area End ***** -->


        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-lg-8 table-responsive mb-5 products-desktop">
                    <table class="table table-cart table-bordered no-vertical-border text-center mb-0" id="CartTable">
                        <thead class="bg-secondary text-dark">
                            <tr>
                                <th class="d-none">#</th>
                                <th>Imagen</th>
                                <th>Productos</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for product in productCart %}
                            <tr class="cart-row">
                                <td  class="align-middle d-none" id="{{ product.id }}">{{ product.id }}</td>
                                <td class="align-middle" id="price_{{ product.id }}"><img src="{{product.image_url}}" alt="" style="width: 75px;"></td>
                                <td class="align-middle">
                                    {{ product.name }}<br>
                                {% if product.stock <= 10  %}
                                              <div class="bg-pink text-danger d-flex justify-content-center">
                                                  ({{product.stock}} Disponibles)
                                              </div>
                                {% else %}
                                    ({{product.stock}} Disponibles)
                                {% endif %}

                                </td>
                                <td class="align-middle" id="price_{{ product.id }}">${{ product.price|intcomma }}</td>
                                <td class="align-middle">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="quantity-content quantity-content-cart">
                                            <div class="right-content">
                                                <div class="quantity buttons_added">
                                                    <input type="button" value="-" class="minus-cart"><input type="number" step="1" min="1" max="" name="quantity" value="{{ product.quantity }}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" readonly><input type="button" value="+" class="plus-cart">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="align-middle" id="total_price_{{ product.id }}"> ${{ product.total|intcomma }} </td>

                                <td class="align-middle">
                                    <form action="{% url 'store:deleteCart' pk=product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                                    </form>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-8 table-responsive mb-5 products-mobile">
                {% for product in productCart %}
                <div class="container container-mobile pt-4">
                    <div class="row pb-4">
                        <div class="col-6">
                            <img src="{{product.image.url}}" alt="" style="width: 100%;">
                        </div>
                        <div class="col-6">
                            <div class="mobile-product-name">
                                <h6>{{ product.name }}</h6>
                                <div>
                                    <form action="{% url 'store:deleteCart' pk=product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-lg pl-1 "><i class="fa fa-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="price-mobile">
                                <p class="align-middle" id="price_{{ product.id }}">${{ product.price|intcomma}}</p>
                            </div>
                            <div>
                                <table class="table table-cart table-cart-mobile table-borderless mb-0" id="CartTable">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td  class="align-middle  d-none" id="{{ product.id }}">{{ product.id }}</td>
                                            <td class="pl-0">
                                                <form method="POST" action="">
                                                    <div class="quantity-content quantity-content-cart quantity-content-cart-mobile">
                                                            <div class="quantity buttons_added">
                                                                <input type="button" value="-" class="minus-cart"><input type="number" step="1" min="1" max="" name="quantity" value="{{ product.quantity }}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" readonly><input type="button" value="+" class="plus-cart">
                                                            </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <p id="total_price_{{ product.id }}_mobile"> ${{ product.total|intcomma }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                </div>
                <div class="col-lg-4">
                        <div class="input-group  pb-4">
                            <input type="text" class="form-control p-4" placeholder="Coupon Code">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Apply Coupon</button>
                            </div>
                        </div>

                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium" id="subtotal">${{ subTotal|intcomma }}</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Costo de Envío</h6>
                                <h6 class="font-weight-medium">${{ ShippingCost.cost|intcomma }}</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold" id="total_price">${{ total|intcomma }}</h5>
                            </div>
                            <a href="{%  url 'store:checkout' %}"><button type="button"   class="btn btn-block btn-primary my-3 py-3">Continuar con la Compra</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Cart End -->
{% endblock %}