<!DOCTYPE html>
{% load static %}
{% load cookie_consent_tags %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop Ecommerce HTML CSS Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'store/styles/bootstrap.min.css' %}">
    <!-- Cookiebar -->
    <script type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'store/styles/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'store/styles/style.css' %}">

    <link rel="stylesheet" href="{% static 'store/styles/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'store/styles/lightbox.css' %}">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static 'base/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">


    <script type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>

    {% if request.COOKIES.cookies_accepted == 'true' %}
    <!-- Código de Google Analytics u otras dependencias -->
    {% endif %}
    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    {% include 'store/navbar.html' %}



    {% block content %}

    {% endblock %}

    {% include 'store/footer.html' %}

    <!-- jQuery -->
    <script src="{% static 'store/js/jquery-364.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'store/js/popper.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'store/js/owl-carousel.js' %}"></script>
    <script src="{% static 'store/js/accordions.js' %}"></script>
    <script src="{% static 'store/js/datepicker.js' %}"></script>
    <script src="{% static 'store/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'store/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'store/js/imgfix.min.js' %}"></script>
    <script src="{% static 'store/js/slick.js' %}"></script>
    <script src="{% static 'store/js/lightbox.js' %}"></script>
    <script src="{% static 'store/js/isotope.js' %}"></script>
    <script src="{% static 'store/js/quantity.js' %}"></script>
    <script src="{% static 'store/js/quantityCart.js' %}"></script>
    <script src="{% static 'store/js/modal.js' %}"></script>
    <script src="{% static 'store/js/addressModal.js' %}"></script>
    <script src="{% static 'store/js/checkout.js' %}"></script>
    <script src="{% static 'store/js/checkoutInfo.js' %}"></script>
    <script src="{% static 'store/js/order.js' %}"></script>
    <script src="{% static 'store/js/cupon.js' %}"></script>
    <script src="{% static 'store/js/paymentMethod.js' %}"></script>
    <!-- SweetAlert2 -->
    <script src="{% static 'base/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'store/js/custom.js' %}"></script>

    <script>
     function deleteCookie(name) {
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
    }
    /*
     {% if request.COOKIES.cookies_accepted != 'true' %}
        deleteCookie('csrftoken');  // Elimina la cookie del csrftoken
        {% if request.user.is_authenticated %}
            {% url 'store:logout' as logout_url %}
                window.location.href = "{{ logout_url }}";
        {% endif %}
    {% endif %}
    */
    function setCookiesAndReload(accepted) {
        var expirationDate = new Date();
        expirationDate.setFullYear(expirationDate.getFullYear() + 1);
        var cookieValue = accepted ? 'true' : 'false';
        document.cookie = 'cookies_accepted=' + cookieValue + '; expires=' + expirationDate.toUTCString() + '; secure=true; samesite=lax; path=/';

        // Recarga la página actual
        location.reload();
      }
    if (document.cookie.indexOf('cookies_accepted=') === -1) {
    showCookieBar({
      content: '<div class="col-12 cookie-bar p-4 bg-light fixed-bottom text-center"><h3>Bienvenido a Edjo</h3> <div class="col-12 d-flex justify-content-center align-items-center"><p class="text-center text-justify lead">En Edjo utilizamos cookies para brindarte la mejor experiencia de compra en línea. Estas pequeñas herramientas nos permiten personalizar tu visita, recomendarte productos que podrían interesarte y garantizar la seguridad de tus transacciones.</p></div> <a class="pb-5" href="{% url 'store:cookiePolicy' %}">Descubre cómo funcionan nuestras cookies</a><br><div class="pt-3"><button type="submit" class="btn btn-primary mx-2" onclick="setCookiesAndReload(true)">Aceptar Cookies</button><button type="submit" class="btn btn-secondary mx-2" onclick="setCookiesAndReload(false)">Rechazar</button></div></div> ',
    });
    } else if (document.cookie.indexOf('cookies_accepted=false') !== -1) {
    showCookieBar({
      content: '<div class="col-12 cookie-bar p-4 bg-light fixed-bottom text-center"><h3>Has rechazado las Cookies</h3> <div class="col-12 d-flex justify-content-center align-items-center"><p class="text-center text-justify lead">Por tu seguridad y la nuestra no podrás registrarte o ingresar tu usuario si no has aceptado las cookies.</p></div> <a class="pb-5" href="{% url 'store:cookiePolicy' %}">Descubre cómo funcionan nuestras cookies</a><br><div class="pt-3"><button type="submit" class="btn btn-primary mx-2" onclick="setCookiesAndReload(true)">Aceptar Cookies</button><button type="submit" class="btn btn-secondary mx-2" onclick="setCookiesAndReload(false)">Rechazar</button></div></div> ',
    });
}
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

  </body>
</html>