    {% load static %}

<!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{%  url 'store:home' %}" class="logo">
                            <img src="{% static '../../images/logo.png' %}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{%  url 'store:home' %}">Inicio</a></li>
                            <li class="scroll-to-section"><a href="{%  url 'store:store' %}">Tienda</a></li>
                            <li class="scroll-to-section"><a href="{%  url 'store:store' %}">Nosotros</a></li>

                            {% if request.user.is_authenticated %}
                                <li id="payment-methods"><a>Medios de Pago</a></li>
                                <li class="submenu">
                                    <a href="javascript:;">{{request.user.name}}</a>
                                    <ul>
                                        <li><a href="{%  url 'store:userProfile' %}">Mi Perfil</a></li>
                                        <li><a href="{%  url 'store:viewOrder' %}">Mis Compras</a></li>
                                        <li><a href="{% url 'store:logout' %}" >Cerrar Sesion </a></li>
                                    </ul>
                                </li>
                                <li class="d-flex justify-content-center align-items-center">
                                    <a href="{% url 'store:viewCart' %}" class="btn">
                                        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                                        <span id="number_products" class="badge">{{ numberProductsCart }}</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="scroll-to-section"><a href="{% url 'store:login' %}" class="info">Iniciar Sesion</a></li>
                                <li class="scroll-to-section"><a href="{% url 'store:register' %} " class="info">Registrarse</a></li>
                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->