{% extends 'base/main.html' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Categorías</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Categorías</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Categorías</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                      <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Edit</th>
                      </tr>
                  </thead>
                    <tbody>
                        {% for topic in topics %}
                            <tr>
                                <td>
                                    {% if topic.image != "" %}
                                    <img src="{{topic.image.url}}" style="width: 4rem; height: 4rem; border-radius:50%;object-fit:cover;">

                                    {% endif %}
                                    
                                </td>
                                <td>
                                    {{topic.name}}
                                </td>
                                <td>
                                    {{topic.bio}}
                                </td>
                                <td class="product-option d-flex justify-content-center align-items-center">
                                    <a href="{% url 'updateTopic' topic.id %}" class="dropdown-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                    </a>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock  %}

