{% extends 'base/main.html' %}
{% load humanize %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ordenes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Ordenes</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Ordenes</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Fecha de Compra</th>
                      <th>Id</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Guia</th>
                    <th>Precio Total</th>
                    <th>Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    {{order.createdAt}}
                                </td>
                                <td>
                                    {{order.id}}
                                </td>
                                <td>
                                    {{order.user.name}} {{ order.user.lastName }}
                                </td>
                                <td>
                                    {% if order.status == 'Pendiente de pago' %}
                                    <span class="badge badge-danger"><span class="h5">{{order.status}}</span></span>
                                    {% elif order.status == 'Preparando envio' %}
                                    <span class="badge badge-warning"><span class="h5">{{order.status}}</span></span>
                                    {% elif order.status == 'En camino' %}
                                    <span class="badge badge-light"><span class="h5">{{order.status}}</span></span>
                                    {% elif order.status == 'Entregado' %}
                                    <span class="badge badge-success"><span class="h5">{{order.status}}</span></span>
                                    {% elif order.status == 'Cancelado' %}
                                    <span class="badge badge-dark"><span class="h5">{{order.status}}</span></span>
                                    {% endif %}

                                </td>
                                <td>
                                    {% if order.shippingGuide %}
                                    {{order.shippingGuide}}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    ${{order.total|intcomma}}
                                </td>
                                <td class="product-option">
                                    {% if order.status != 'Cancelado' and order.status != 'Entregado' %}
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-update_{{ order.id }}">
                                        <i class="nav-icon fas fa-edit"></i>
                                    </button>
                                    {% endif %}
                                    <a href="{% url 'viewOrderDetail' order.id %}" class="dropdown-link mx-3">
                                        <i class="nav-icon fas fa-eye"></i>
                                    </a>
                                    {% if order.status == 'Pendiente de pago' %}
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default_{{ order.id }}">
                                      <i class="nav-icon fas fa-trash"></i>
                                    </button>
                                    {% endif %}
                                </td>

                            </tr>
                            <div class="modal fade" id="modal-default_{{ order.id }}">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Cancelar Compra</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>¿Seguro de querer cancelar la orden {{ order.id }}?</p>
                                        <p>Una vez cancelada la orden no podras reactivarla.</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                        <a href="{% url 'cancelOrder' order.id %}">
                                            <button type="button"  class="btn btn-danger">Eliminar</button>
                                        </a>
                                    </div>
                                  </div>
                                  <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                              <!-- /.modal -->
                            <div class="modal fade" id="modal-update_{{ order.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="POST" action="{% url 'updateOrder' order.id %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h4 class="modal-title">Actualizar compra ({{ order.id }})</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% if order.status != 'Entregado' %}
                                                <label>Estado de la orden</label>
                                                <select class="custom-select" name="status">
                                                    {% if order.status == 'Pendiente de pago' %}
                                                    <option value="Preparando envio">Preparando envio</option>
                                                    {% elif order.status == 'Preparando envio' %}
                                                    <option value="En camino">En camino</option>
                                                    {% elif order.status == 'En camino' %}
                                                    <option value="Entregado">Entregado</option>
                                                    {% endif %}
                                                </select>
                                                {% endif %}
                                                {% if order.status == 'Preparando envio' %}
                                                <label>Empresa de envio</label>
                                                <select class="custom-select" name="shippingCompany">
                                                    <option value="Servientrega">Servientrega</option>
                                                    <option value="Inter Rapidisimo">Inter Rapidisimo</option>
                                                    <option value="Coordinadora">Coordinadora</option>
                                                    <option value="Envia">Envia</option>
                                                    <option value="DHL">DHL</option>
                                                    <option value="Mipaquete">Mipaquete</option>
                                                    <option value="Envíoclick">Envíoclick</option>
                                                    <option value="99 minutos">99 minutos</option>
                                                </select>
                                                {% endif %}
                                                {% if order.status == 'Preparando envio' %}
                                                <label>Número de guía de envío</label>
                                                <input type="text" name="shippingGuide" class="form-control">
                                                <label>Costo de envio</label>
                                                <input type="number" name="shippingPaid" class="form-control">
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                              <!-- /.modal -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock  %}

