{% extends 'base/main.html' %}
{% load humanize %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cupones</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Cupones</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Cupones</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Creación</th>
                    <th>id</th>
                    <th>Cupon</th>
                    <th>Disponibles</th>
                    <th>Redimidos</th>
                    <th>Valor</th>
                    <th>Options</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for cupon in cupons %}
                            <tr>
                                <td>
                                    {{ cupon.createdAt }}
                                </td>
                                <td>
                                    {{cupon.id}}
                                </td>
                                <td>
                                    {{cupon.cupon}}
                                </td>
                                <td>
                                    {{cupon.quantity}}
                                </td>
                                <td>
                                    {{cupon.usedCoupon}}
                                </td>
                                <td>
                                    {{cupon.value}}%
                                </td>
                                <td class="product-option">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-update_{{ cupon.id }}">
                                        <i class="nav-icon fas fa-edit"></i>
                                    </button>
                                </td>
                            </tr>

                            <div class="modal fade" id="modal-update_{{ cupon.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="POST" action="{% url 'updateCupon' cupon.id %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h4 class="modal-title">Actualizar Cupon ({{ cupon.id }})</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label>Cantidad de Cupones</label>
                                                <input type="number" name="quantity" class="form-control">
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                              <!-- /.modal -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock  %}

