{% extends 'base/main.html' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Crear producto</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Crear producto</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Crear producto</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <form class="col-12" method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titulo del Banner:</label>
                            <input type="text" class="form-control"  name="title"  placeholder="Titulo del Banner">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Imagen:</label>
                            <div class="input-group">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="exampleInputFile" name="image">
                                <label class="custom-file-label" for="exampleInputFile">Seleccionar Imagen</label>
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Tipo de Banner:</label>
                              <input class="form-control" name="type" list="topic-list" type="text" placeholder="Tipo de Banner:" />
                                <datalist id="topic-list" >
                                    <select id="room_topic" >
                                        <option value="Categoria">Categoria</option>
                                        <option value="Precio Maximo">Precio Maximo</option>
                                        <option value="Rango de Precio">Rango de Precio</option>
                                        <option value="Descuento Minimo">Descuento Minimo</option>
                                    </select>
                                </datalist>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mensaje del Banner:</label>
                            <input type="text" class="form-control"  name="message"  placeholder="Mensaje del Banner:">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Categoría:</label>
                              <input class="form-control" name="topic" list="topic-list" type="text" placeholder="Categoría del Banner:" />
                                <datalist id="topic-list" >
                                    <select id="room_topic" >
                                        {% for topic in topics %}
                                        <option value="{{ topic.name }}" >{{ topic.name }}</option>
                                        {% endfor %}
                                    </select>
                                </datalist>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Precio Minimo:</label>
                            <input type="number" class="form-control"  name="minPrice"  placeholder="Precio Minimo">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Precio Maximo:</label>
                            <input type="number" class="form-control"  name="maxPrice"  placeholder="Precio Maximo">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Descuento Minimo:</label>
                            <input type="number" class="form-control"  name="minDiscount"  placeholder="Descuento Minimo">
                        </div>

                        <button type="submit" class="btn btn-primary" id="btn-login">
                            <i class="fas fa-sign-in-alt"></i>  Ingresar
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
{% endblock  %}

