{% extends 'base/main.html' %}
{% load widget_tweaks %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Actualizar Producto</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Actualizar Producto</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Actualizar Producto</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <form class="col-12" method="POST" enctype="multipart/form-data" action="">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group text-center mx-auto">
                            <label>{{ product.name }}</label>
                            <figure class="update-image">
                                <img src="{{product.image.url}}" style="width: 6rem; height: 6rem; border-radius:25%;object-fit:cover;">
                            </figure>
                        </div>
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            {% if field.widget.input_type != 'file' %}
                            {{ field|add_class:"form-control" }}
                            {% else %}
                            {{ field|attr:"class:form-control-file" }}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary" id="btn-login">
                            <i class="fas fa-sign-in-alt"></i>  Ingresar
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
{% endblock  %}

